.place-details-container {
  display: flex;
  justify-content: space-between;
  margin: 63px;
}

.image-carousel {
  width: 60%;
}

.details {
  width: 35%;
}

.reviews {
  margin-top: 10px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user {
  font-weight: bold;
  margin-right: 5px;
}

.star {
  color: #ffcc00;
}

.comment {
  margin: 0;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
}
