/* Styles for BookingPage component */

.booking-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 63px;
  }
  
  .place-container {
    margin-bottom: 30px;
  }
  
  .place-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .place-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .place-container p {
    margin-bottom: 10px;
  }
  
  .booking-container {
    margin-top: 30px;
  }
  
  .booking-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .booking-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .booking-container input[type="date"],
  .booking-container input[type="number"],
  .booking-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .booking-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .booking-container button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive CSS */
  
  @media (max-width: 600px) {
    .place-container img {
      max-width: 100%;
    }
  
    .booking-container input[type="date"],
    .booking-container input[type="number"],
    .booking-container input[type="text"],
    .booking-container button {
      width: 100%;
    }
  }
  