.theme-container1 {
  margin: 0 auto;
  padding: 0px 25px;
  box-sizing: border-box;
  
  }
.h1-Browse{
  text-align: left;
}
.categories-slider1 {
  margin-bottom: 20px;
  background-color: white;
}
.category {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding-right: 20px !important;
  /* border: 1px solid rgb(12, 27, 245); */
  width: 95% !important;
  text-align: center;
  
}
.link {
  text-decoration: none;
  color: inherit;
}

.category.active {
  border: 1px solid blue;
    color: #0602cc;
    font-weight: 500;
}
.category:hover{
  background-color: black;
  color: white;
}

.item {
  padding: 10px 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .category {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .category {
    padding: 12px 12px;
    font-size: 14px;
  }
  .theme-container1 {
    margin: 0 auto;
    padding: 0px 25px;
    box-sizing: border-box;
  }
  .h1-Browse{
    text-align: left;
    font-size: 20px;
  }
}

