/* General styles */
.top-cities-carousel-wrap{
  width: 98%;
}
.city-card-wrapper {
    margin: 10px;
  }
  .city-details p {
    text-align: center;
    /* font-weight: bold; */
    text-decoration: none;
    color: black;
  }
  .city-details h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
  .city-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .city-card-img {
    height: 200px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
  }
  
  .city-details {
    padding: 10px;
  }
  .card-link{
    color: inherit;
    text-decoration: inherit;
}
  
  /* Responsive styles */
  @media screen and (max-width: 1344px) {
    .city-card-img {
      height: 150px; /* Adjust as needed */
    }
  }
  
  @media screen and (max-width: 1024px) {
    .city-card-img {
      height: 120px; /* Adjust as needed */
    }
  }
  
  @media screen and (max-width: 600px) {
    .top-cities-carousel-wrap{
      width: 93%;
    }
    .city-card {
      /* width: 80%;  */
      margin: 10px auto;
      height: 150px;
    }
  
    .city-card-img {
      height: 150px; /* Adjust as needed */
    }
  
    .city-details {
      font-size: 12px; /* Adjust as needed */
    }
  }
  
  @media screen and (max-width: 480px) {
    .city-card {
        /* width: 80%;  */
        margin: 10px auto;
        height: 200px;
      }
    .city-card-img {
        height: 150px;/* Adjust as needed */
    }
  
    .city-details {
      font-size: 10px; /* Adjust as needed */
    }
  }
  