/* CardCarousel.css */
.responsive-card-carousel-wrapper {
  max-width: 95%;
    margin: 20px auto;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 240px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 160px;
  }

  h3 {
    font-size: 14px;
    text-align: center;
    color: red;
  }

  p {
    font-size: 12px; /* Adjusted font size */
    color: #0d0909;
    text-align: center;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 600px) {
  .responsive-card-carousel-wrapper {
    width: 90%;
  }

  .card {
    /* height: 190px; */
  }
  
}
