.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #4d84c7;
  background: linear-gradient(109deg, #4d84c7 0%, #f1f1f1 80%);
  background: -webkit-linear-gradient(109deg, #4d84c7 0%, #f1f1f1 80%);
  background: -moz-linear-gradient(109deg, #4d84c7 0%, #f1f1f1 80%);
  margin-top: 10px;
  border-radius: 10px;
}

.faq-list {
  margin-top: 20px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.faq-question:hover {
  background-color: #f5f5f5;
}

.faq-question .arrow {
  font-size: 18px;
}

.faq-answer {
  padding: 10px;
  background-color: #f5f5f5;
}

.expanded .arrow {
  transform: rotate(-90deg);
}
@media screen and (max-width: 600px){

  .faq-container {
    max-width: 90%;
    margin: 20px auto;
    background: rgb(160, 197, 236) !important;
  }

}
