/* PrivacyPolicy.css */
.Privacy-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 63px;
  }
  
  @media screen and (max-width: 768px) {
    .Privacy-container {
      width: 90%;
    }
  }
  