/* Add these styles to your existing CSS */

.responsive-gallery-container {
  margin: 20px;
  display: block;
  border-radius: 10px;
  /* overflow: hidden;  */
}
h2 {
  margin-bottom: 20px;
}

.responsive-gallery-column {
  display: inline-block;
  vertical-align: top;
  /* margin: 5px; Add some margin between columns */
}

.responsive-gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease;

  -webkit-box-shadow: 16px 17px 6px -9px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 16px 17px 6px -9px rgba(0, 0, 0, 0.8);
  box-shadow: 16px 17px 6px -9px rgba(0, 0, 0, 0.8);

  border-radius: 96px 0px 154px 0px;
  -webkit-border-radius: 96px 0px 154px 0px;
  -moz-border-radius: 96px 0px 154px 0px;

  &:hover {
    transform: scale(1.3);
    border-radius: 44px 46px 48px 48px;
-webkit-border-radius: 44px 46px 48px 48px;
-moz-border-radius: 44px 46px 48px 48px;
  }
}
