/* style.css */

.search-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.select-city-large {
  border-radius: 3px;
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 5px solid red ; */
}

.select-city-large i {
  color: red;
  padding-left: 30px;
  font-size: 25px;
  
}

.select-div {
  position: relative;
  margin-bottom: 10px;
  
}

.select-experience-large1 {
  border-radius: 3px;
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.15);
  margin-left: 2px;
  background: white;
}

.select-experience-large1 input {
  border: none;
  font-size: 12px;
  padding-left: 20px;
  width: 190px;
  outline: none;
  transition: width 0.4s ease-out;

}

.select-experience-large1 input:focus-within {
  width: 240px;
}

.select-experience-large1 i {
  color: #cbcbcb;
}

#go {
  font-size: 16.2px;
  line-height: 18.68px;
  font-weight: 500;
  width: 120px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(
    -45deg,
    #eb294b,
    #e73c7e,
    #dd2953,
    #cd853f,
    #ce1232,
    #eb294b,
    #e73c7e
  );
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  margin-left: 2px;
  cursor: pointer;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .search-bar {
    width: 90%;
    top: 20%;
    
  }
  .select-city-large {

    width: 130px;

  }
  .select-city-large i {
    color: red;
    padding-left: 20px;
    font-size: 15px;
  }
  .select-div {
    position: relative;
    margin-bottom: 10px;
    width: 160px;
    margin-left: 0;
  }
  .select-experience-large1 {
    width: 350px;
    /* height: 30px; */
  }
  .select-experience-large1 input:focus-within {
    width: 200px;
  }
}
