/* TourPackage.css */

.all-places-packages {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background-color: rgb(230, 226, 222);
    border-radius: 10px;
  }
  
  .left-section, .right-section {
    width: 80%;
  }
  
  .left-section {
    margin-bottom: 20px;
  }
  
  .left-section h1 {
    font-size: 1.5rem;
  }
  
  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .scroll-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adjust as needed */
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }
  
  .tour-package-card {
    flex: 0 0 auto;
    width: 300px; /* Adjust card width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* border: 2px solid red; */
    background-color: #ff6347;
  }
  
  .tour-package-card img {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border: 2px solid red; */
  }
  
  .pdetails {
    padding: 10px;
    text-align: center;
    /* border: 2px solid red; */
    /* display: inline; */
  }
  
  .offer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0c3def; /* Highlight color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #333;
    background-color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    /* border: 2px solid red; */
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .all-places-packages {
        width: 85%;
        margin: 0 auto;
        padding: 20px;
        /* display: flex; */
        /* flex-direction: column; */
      }
    .tour-package-card {
      width: 85%; 
    }
  
    .scroll-container {
      align-items: center;
    }
  
    .prev,
    .next {
      display: none;
    }
  }
  