/* Admin.css */

.admin-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-top: 60px;
}

.admin-btn {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  color: #f7f8f7;
  background-color: #0077b6;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sub-btn {
  display: block;
  margin-left: 20px;
}

.admin-btn:hover,
.sub-btn:hover {
  background-color: #0000b6;

}

h1 {
  text-align: center;
  color: #333;
}
