/* Admin.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .admin-container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    margin-top: 60px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .admin-btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .admin-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-btn:hover {
    background-color: #2980b9;
  }
  
  /* Responsive design */
  @media only screen and (min-width: 768px) {
    .admin-container {
      padding: 40px;
    }
  
    .admin-btn-container {
      flex-direction: row;
    }
  
    .admin-btn {
      width: auto;
    }
  }
  